<html>
<head>
	<title>{{.Name}} - A Test Blog</title>
</head>
<body>
	<h2><a href="{{.Link}}">{{.Name}}</a></h2>
	<hr />
	<div id="content">
		{{.Content}}
	</div>
	<hr />
	<div id="footer">
		<p>You may use it as you wish</p>
		<a href="/">Home</a>
	</div>
</body>
</html>
